---
import Layout from '../layouts/Layout.astro';
import DogCard from '../components/DogCard.astro';
import { getCollection } from 'astro:content';

const maleDogs = await getCollection('dogs', ({ id }) => {
  return id.startsWith('males/');
});
---

<Layout title="Male Dogs">
  <div class="container mx-auto px-4 py-12">
    <h1 class="text-4xl font-bold mb-12 text-center">Our Male Dogs</h1>
    
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
      {maleDogs.map(dog => (
        <DogCard 
          name={dog.data.name}
          longAlias={dog.data.longAlias}
          image={dog.data.image}
          weight={dog.data.weight}
          headSize={dog.data.headSize}
          height={dog.data.height}
          stillGrowing={dog.data.stillGrowing}
          url={`/males/${dog.slug}`}
        />
      ))}
    </div>
  </div>
</Layout> 